@charset "UTF-8";
.container {
  width: 60px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  position: relative;
  z-index: 10; }

.style-checkbox {
  width: 26px;
  height: 26px;
  user-select: none; }
  .style-checkbox, .style-checkbox span {
    display: inline-block; }
  .style-checkbox input[type=checkbox] {
    display: none; }
  .style-checkbox span {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative; }
  .style-checkbox span:before {
    content: "❯";
    display: block;
    position: absolute;
    color: #e6e6e6;
    font-size: 22px;
    transform: rotate(90deg);
    transform-origin: center right;
    margin-top: 6px;
    margin-left: 3px;
    transition: color 0.3s; }
  .style-checkbox input[type=checkbox]:checked + span:before {
    color: #737373; }
