footer .clear_completed {
  border: none;
  background: none; }

.fotter__content:after {
  content: "";
  display: table;
  clear: both; }

:host {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  display: block; }

header {
  user-select: none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03); }

footer {
  position: relative;
  color: #777;
  padding: 10px 15px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
  user-select: none;
  text-align: center; }
  footer:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2); }
  footer .left_items {
    float: left;
    cursor: context-menu;
    user-select: none; }
  footer .clear_completed {
    float: right; }
    footer .clear_completed:hover {
      text-decoration: underline; }
  footer .filters {
    display: inline-block; }

.fotter__content {
  position: relative;
  z-index: 2; }

.filter {
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px; }

.filter-selected {
  border-color: rgba(175, 47, 47, 0.2); }
