header
  ng-todo__complete_all
  ng-todo__add_todo

section.main
  router-outlet

footer 
  .fotter__content
    .left_items <strong>1</strong> items left

    .filters
      a.filter(routerLink="/all" routerLinkActive="filter-selected") All
      a.filter(routerLink="/active" routerLinkActive="filter-selected") Active
      a.filter(routerLink="/completed" routerLinkActive="filter-selected") Completed

    button.clear_completed Clear Completed
