
<div class="wrapper">
  <header class="head">
    <div class="head__title">Todos</div>
  </header>
  <main class="main">
    <ng-todo></ng-todo>
  </main>
  <footer class="footer"> 
    <p>Original: <a href="http://todomvc.com" target="_blank">http://todomvc.com</a></p>
    <p>Source: <a href="https://github.com/DimaGashko/NgTodo" target="_blank">https://github.com/DimaGashko/NgTodo</a></p>
    <p>Autor: <a href="https://github.com/DimaGashko" target="_blank">Dmitry Gashko</a></p>
  </footer>
</div>