.wrapper
   header.head
      .head__title Todos

   main.main
      ng-todo Loading...

   footer.footer 
      - var orginal = "http://todomvc.com"
      - var gitHub = "https://github.com/DimaGashko/NgTodo"
      - var autor = "https://github.com/DimaGashko"

      p Original: 
         a(href=orginal target="_blank")= orginal

      p Source: 
         a(href=gitHub target="_blank")= gitHub
      
      p Autor: 
         a(href=autor target="_blank") Dmitry Gashko