header
   ng-todo__complete_all
   ng-todo__add_todo

section.main
   ng-todo__list

footer 
   .fotter__content
      .left_items <strong>1</strong> items left

      .filters
         a.filter.filter-selected(href="/all") All
         a.filter(href="/active") Active
         a.filter(href="/completed") Completed

      button.clear_completed Clear Completed
