header.header
   ng-todo__complete_all
   ng-todo__add_todo

section.main
   ng-todo__list

footer.footer Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea, autem itaque? Suscipit eligendi dicta iste est inventore id in doloremque aspernatur, voluptatum corporis aperiam maiores dignissimos tenetur veritatis maxime hic.
   
