doctype html
form((submit)="add($event, contentInput.value); contentInput.value = ''")
   input(
      class="add-todo" 
      placeholder="What needs to be done?" 
      autofocus 
      #contentInput
   ) 