doctype html
html(lang="en")
   head     
      title ngTodo
      base(href="/")
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width, initial-scale=1")  
      link(rel="icon" type="image/x-icon" href="favicon.ico")
   body
      .wrapper
         head.head
            .head__title Todos

         main.main
            app-root Loading...

         footer.footer 
            - var orginalURL = "http://todomvc.com/"

            p Original: 
               a(href=orginalURL)= orginalURL
      
