doctype html
html(lang="en")
   head     
      title NgTodo &bull; Todo list on Angular (Angular 6, TypeScript, Gulp 4, Jade/Pug, Sass)
      base(href="/")
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width, initial-scale=1")  
      link(rel="icon" type="image/x-icon" href="favicon.ico")
   body
      .wrapper
         head.head
            .head__title Todos

         main.main
            ng-todo Loading...

         footer.footer 
            - var orginal = "http://todomvc.com"
            - var gitHub = "https://github.com/DimaGashko/NgTodo"
            - var autor = "https://github.com/DimaGashko"

            p Original: 
               a(href=orginal target="_blank")= orginal

            p Source: 
               a(href=gitHub target="_blank")= gitHub
            
            p Autor: 
               a(href=autor rel="autor" target="_blank") Dmitry Gashko
            
      
