.todo__delete {
  border: none;
  background: none; }

:host {
  display: block;
  border-bottom: 1px solid #eee; }

.todo__part {
  display: inline-block;
  vertical-align: middle; }

.todo__complete {
  width: 60px;
  text-align: center; }

.todo__content {
  width: calc(100% - 60px - 60px); }

.todo__controls {
  width: 60px;
  text-align: center; }

.todo__delete {
  opacity: 0;
  visibility: hidden;
  text-align: center;
  width: 40px;
  height: 40px;
  font-size: 30px;
  color: #cc9a9a;
  transition: all 0.3s ease-out;
  outline: none; }
  .todo__delete:focus {
    transform: rotate(90deg); }

.todo__edit {
  display: none;
  width: calc(100% - 60px); }

:host:hover .todo__delete {
  visibility: visible;
  opacity: 1; }
