@import 'src/styles/public/vars.sass'
@import 'src/styles/public/components.sass'

$deleteWidth: $checkboxPartWidth

\:host
   display: block
   border-bottom: 1px solid #eee 

.todo
   &__part
      display: inline-block
      vertical-align: middle

   &__complete
      width: $checkboxPartWidth
      text-align: center

   &__content
      width: calc(100% - #{$checkboxPartWidth} - #{$deleteWidth})

   &__controls
      width: $checkboxPartWidth
      text-align: center

   &__delete
      @extend %resetButton 
      opacity: 0
      visibility: hidden
      text-align: center
      width: 40px
      height: 40px
      font-size: 30px
      color: #cc9a9a
      transition: all $transitionSpeed ease-out  
      outline: none 

      &:focus
         transform: rotate(90deg)

   &__edit
      display: none
      width: calc(100% - #{$checkboxPartWidth})


\:host:hover .todo__delete
   visibility: visible
   opacity: 1

.style-checkbox
   @include checkbox()

   width: auto
   height: auto
   position: relative
   right: 1px
   top: 1px
   
   span:before
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>')
      
   input[type=checkbox]
      &:checked + span:before
         content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');