
<div class="todo__complete todo__part">
  <label class="style-checkbox">
    <input type="checkbox"/><span></span>
  </label>
</div>
<div class="todo__content todo__part">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis, consequuntur, veniam voluptatem magnam nobis at ex nihil distinctio sequi, quod officia. Ut aliquid veniam nostrum dolore nobis iste sapiente amet.</div>
<input class="todo__edit todo__part"/>
<div class="todo__controls todo__part">
  <button class="todo__delete">×</button>
</div>