.todo__complete.todo__part
   label.style-checkbox
      input(type="checkbox")
      span

.todo__content.todo__part Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis, consequuntur, veniam voluptatem magnam nobis at ex nihil distinctio sequi, quod officia. Ut aliquid veniam nostrum dolore nobis iste sapiente amet.
input.todo__edit.todo__part

.todo__controls.todo__part
   button.todo__delete ×
   