@import 'src/styles/public/vars.sass'
@import 'src/styles/public/components.sass'

$deleteWidth: $checkboxPartWidth

\:host
   display: block
   border-bottom: 1px solid #eee 

.todo
   &__part
      display: inline-block
      vertical-align: middle

   &__complete
      width: $checkboxPartWidth
      text-align: center

   &__content
      width: calc(100% - #{$checkboxPartWidth} - #{$deleteWidth})

   &__controls
      width: $checkboxPartWidth
      text-align: center

   &__delete
      @extend %resetButton 
      opacity: 0
      visibility: hidden
      text-align: center
      width: 40px
      height: 40px
      font-size: 30px
      color: #cc9a9a
      transition: all $transitionSpeed ease-out  
      outline: none 

      &:focus
         transform: rotate(90deg)

   &__edit
      display: none
      width: calc(100% - #{$checkboxPartWidth})


\:host:hover .todo__delete
   visibility: visible
   opacity: 1