.todo__complete.todo__part
   label.style-checkbox
      input(type="checkbox")
      span

.todo__content.todo__part Lorem ipsum, dolor sit amet orem ipsum, dolor sit amet 
input.todo__edit.todo__part

.todo__controls.todo__part
   button.todo__delete ×
   